<h1 class="mt-5">Selectores anidados</h1>
<hr>

<form [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <!-- REGIONES -->
    <div class="row">
        <div class="col">
            <label class="form-label">Continente</label>
            <select 
                class="form-control"
                formControlName="region">
                <option value="">-- Seleccione Continente --</option>
                <option *ngFor="let region of regiones" [value]="region | lowercase">{{region}}</option>
            </select>
        </div>
    </div>
    <!-- PAISES -->
    <div class="row" *ngIf="paises.length !== 0">
        <div class="col">
            <label class="form-label">Pais</label>
            <select 
                class="form-control"
                formControlName="pais">
                <option value="">-- Seleccione Pais --</option>
                <option *ngFor="let pais of paises" [value]="pais.cca3| lowercase">{{pais.name.common}}</option>
            </select>
        </div>
    </div>
        <!-- Fronteras -->
        <div class="row"  *ngIf="fronteras.length !== 0">
            <div class="col">
                <label class="form-label">Fronteras</label>
                <select 
                    class="form-control"
                    formControlName="frontera"
                    >
                    <option value="">-- Seleccione Frontera --</option>
                    <option *ngFor="let frontera of fronteras let i = index" [value]="frontera.cca3">{{frontera.name.common}}</option>
                </select>
            </div>
        </div>

        <div class="row" *ngIf="cargando">
            <div class="col">
                <div class="alert alert-primary">
                    Cargando...
                </div>
            </div>
        </div>
    <div class="row mt-3">
        <div class="col">
            <button type="submit" class="btn btn-primary float-end" >Seleccionar</button>
        </div>
    </div>
</form>

<h3>Formulario</h3>
<pre>Valid: {{miFormulario.valid}}</pre>
<pre>{{miFormulario.value | json}}</pre>